*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

header {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav ul {
    display: flex;
    text-decoration: none;
    
    list-style: none;
}
nav ul li {
    margin: 0 20px;
}
nav ul li i {
    font-size: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
main {
    padding: 15px 20px;
}

.container {
    margin-top: 10vmin;
}
.section-items {
    display: flex;
    gap : 20px;
    flex-wrap: wrap;
}